a{ 
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration:none; 
    cursor:pointer;
}
.image {
    position: relative;
}

.image__img__1 {
    display: block;
    border-radius: 10px;
}
.image__img__2 {
    display: block;
    border-radius: 10px;
}
.image__img__3 {
    display: block;
    border-radius: 10px;
}
.image__img__4 {
    display: block;
    border-radius: 10px;
}
.image__img__5 {
    display: block;
    border-radius: 10px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #14a800;
    border-radius: 10px;
}
.image__overlay--primary_1 {
    background: #14a800;
    border-radius: 10px;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 0.9;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image_title_1 {
    font-size: 2em;
    font-weight: bold;
}
.image_title_2 {
    font-size: 2em;
    font-weight: bold;
}
.image_title_3 {
    font-size: 2em;
    font-weight: bold;
}
.image_title_4 {
    font-size: 2em;
    font-weight: bold;
}
.image_title_5 {
    font-size: 2em;
    font-weight: bold;
}

.image_1_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.image_2_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.image_3_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.image_4_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.image_5_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}